<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Tracking Database</h4>
                        <!-- <p class="category">Here is a subtitle for this table</p> -->
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of ship">
                                        <td>{{row.tracking_number}}</td>
                                        <td>{{row.package}}</td>
                                        <td>{{row.sender_name}}</td>
                                        <td>{{row.recipient_name}}</td>
                                        <td>{{row.tracking_status}}</td>
                                        <td>{{row.tracking_date}}</td>
                                        <td><button class="btn btn_edit" click="edit(row.tracking_id)">Edit</button></td>
                                        <td><button class="btn btn_delete" click="delete(row.tracking_id)">Delete</button></td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
